{% extends 'base.html.twig' %}

{% block title %}Modification d'Article{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1>Modification de l'article</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                {{ include('article/_form.html.twig', {'button_label': 'Modifier'}) }}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="{{ path('app_article_index') }}" class="btn btn-primary">Retour à la liste</a>
                {{ include('article/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
