{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Créer un nouvel Article</h1>
    </div>

    <div class="container">
        {{ include('article/_form.html.twig') }}
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <a href="{{ path('app_article_index') }}" class="btn btn-primary">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
