{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}">
{% endblock %}
{% block title %}Bienvenue dans la Forêt{% endblock %}

{% block body %}

<div class="content">
    <h1>Bienvenue 🌳</h1>
    <p>Découvrez les plus beaux endroits de France.</p>
</div>
<div class="article-list">
    {% include 'article/index.html.twig' %}
</div>
{% endblock %}
